<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List Popular Languages for Data Science
- List Common Libraries for Data Science
- List Popular Open-Sourced Data Science Tools
- Performing Simple Arithmetic

Some of the popular languages that Data Scientists use are:
1. SQL
2. Pthyon
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit
4. TensorFlow
5. ggplot

| Data Science Tools |
| ------------------ |
| Jupyter |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

<code> "This a simple arithmetic expression to mutiply then add integers" </code>

In [3]:
(3*4)+5

17

<code> "This will convert 200 minutes to hours by dividing it by 60" </code>

In [31]:
minutes=200
hours=60
(minutes/hours)

3.3333333333333335

## Author
Shannon Maloney